@using Ticet.Core.DTOs
@model CategoryViewModel

@{
    ViewData["Title"] = "Edit Category";
}

<div class="container mt-5">
    <h2>Edit Category</h2>
    <form asp-action="EditCategory" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <label class="control-label">Category Name:</label>
            <input asp-for="Name" class="form-control" required />
            <input type="hidden" asp-for="Id" />
        </div>
        <button type="submit" class="btn btn-primary">Edit Category</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
