@{
    ViewData["Title"] = "Dashboard";
}
<h1>Welcome to the Dashboard</h1>
@if (ViewBag.RoleName == "Admin")
{
    <h2>Hello Admin!</h2>
    <div class="d-flex justify-content-evenly">
        <a href="/ListUsers" class="btn-primary p-2 rounded">List Users</a>
        <a href="/ListTickets" class="btn-primary p-2 rounded">List Tickets</a>
        <a href="/ListCategories" class="btn-primary p-2 rounded">List Categories</a>
        <a href="/CreateCategory" class="btn-primary p-2 rounded">Create Category</a>
    </div>
}
else
{
    <h2>Hello User!</h2>
    <div class="d-flex justify-content-evenly">
        <a href="/MyTickets" class="btn-primary p-2 rounded">My Tickets</a>
        <a href="/CreateTicket" class="btn-primary p-2 rounded">Create Ticket</a>
        <a href="/EditAccount" class="btn-primary p-2 rounded">Edit Account</a>
    </div>
}
<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-warning">Logout</button>
</form>