@{
    ViewData["Title"] = "Register";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            @if (!User.Identity.IsAuthenticated)
            {
                <h2 class="text-center mt-5">Register</h2>
                <form asp-action="Register" asp-controller="Account" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Register</button>
                </form>
                <div class="mt-2">
                    <a href="/login"> you have account? you can login here !'</a>
                </div>
            }
            else
            {
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-warning">Logout</button>
                </form>
            }
        </div>
    </div>
</div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Error:</strong> @ViewData.ModelState.Values.FirstOrDefault()?.Errors.FirstOrDefault()?.ErrorMessage
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}